<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ambre & Rubén</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Open+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/styles_wedding.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}" />

    <script src="{% static 'js/wedding.js' %}"></script>
    
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-container">
        <a href="#story">Our Story</a>
        <a href="#details">Details</a>
        <a href="#other">Other</a>
      </div>
    </nav>

    <header>
      <h1>Ambre & Rubén</h1>
      <div class="gallery">
        <img src="{% static 'img/img_head_1.jpeg' %}" alt="Ambre y Rubén 1">
        <img src="{% static 'img/img_head_2.jpeg' %}" alt="Ring">
        <img src="{% static 'img/img_head_3.jpeg' %}" alt="Ambre y Rubén 2">
      </div>
      <div class="date-location">27.09.2025 | Málaga, España</div>
    </header>

    <section id="story" class="story">
      <h2>Our Love Story</h2>
      <div class="story-container">
        <div class="story-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="story-image">
          <img src="{% static 'img/img_story.jpeg' %}" alt="Ambre y Rubén 3" class="feature-image">
        </div>
      </div>
    </section>

    <section id="details" class="details">
      <h2>The Details</h2>
      <div class="details-container">
        <div class="details-image">
          <img src="{% static 'img/img_schedule.jpeg' %}" alt="Details Image">
        </div>
        <div class="details-text">
          <div class="timeline">
            <div class="event">
              <strong>Thu Sep 26 - Evening</strong>
                Pre-wedding Gathering<br><a href="https://maps.app.goo.gl/zdM6XaV98TvRcbpS8" target="_blank">Terraza del Sepulcro, Málaga</a>
            </div>
            <div class="event">
              <strong>Fri Sep 27 - TBD</strong>
              Football Match: Spain vs France<br>(Location to be confirmed)
            </div>
            <div class="event">
              <strong>Sat Sep 27 - 5:00pm</strong>
              Wedding Ceremony<br>Iglesia de los Mártires, Málaga
            </div>
            <div class="event">
              <strong>Sat Sep 27 - 7:00pm</strong>
              Reception & Party<br>Palacio Monte Miramar, Málaga
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="other" class="wedding-party">
      <h2>Other section</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    
    
  </body>

</html>